.nav-home-container {}

.nav-home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8rem;
    /* background: -webkit-linear-gradient(80deg, #233f82, #1fb14f 87%); */
    background: -webkit-linear-gradient(80deg, #eff8ff, #c5e6ff 87%);
    /* background-color: #eff8ff; */

}

.logo-img {
    width: 10rem;
}

.nav-home-content>.logo-img>img {
    width: 100%;
    background-size: cover;
}

.slider-home-content {
    margin-bottom: 1rem;
    margin-top: 7rem;
    text-align: center;
}

.slider-home-content>h1 {
    font-weight: 600;
    background: -webkit-linear-gradient(80deg, #eb2d4b, #141ed2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 0 1rem 0;
    line-height: 7rem;
    font-size: 5.6rem;
}

.slider-home-content>h4 {
    color: #141ed2;
    font-size: 28px;
    font-weight: 700;
    margin: 2.5rem;
}

.slider-card-item-img {
    width: 240px;
}

.slider-card-item-img>img {
    width: 100%;
    height: 320px;
    vertical-align: middle;
    border-style: none;
    border-radius: 10px;
}

.slider-card-items {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    margin: 0 5rem;
}

.slider-card-item {
    width: calc(100%);
    margin: 0 2rem;
    cursor: pointer;
    transition: .3s;
}

.slider-card-item:hover {
    transform: translateY(-15px);
}

.slider-card-item-img {
    position: relative;
}


.slider-card-item-img>div {
    position: absolute;
    background-color: #000;
    content: "";
    height: 100%;
    left: 0;
    right: 0;
    opacity: .5;
}

.slider-card-item-img>div>p {
    position: a;
    color: #fff;
    z-index: 9999;
}

.slider-card-item>p {
    width: 100%;
    padding-top: 1.5rem;
    margin: 0;
    color: rgb(34, 34, 34);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.slider-card-content {
    padding-top: 3rem;
}

.after-footer {
    background-color: #eff8ff;
}

.after-footer-content {
    max-width: 120rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.after-footer-content-img>div {
    width: 10rem;
}

.after-footer-content-img>div>img {
    width: 100%;
}

.after-footer-content-text>p {
    margin: 1rem 0;
    color: #888;
    font-size: 1.6rem;
}


.after-footer-content-text>.text-home {

    color: #000;
    font-size: 1.8rem;
    font-weight: 700;
}

.after-footer-content-phone>p {
    color: #000;
    font-size: 1.8rem;
    font-weight: 700;
}

.after-footer-content-contact {
    display: flex;
}

.after-footer-content-contact>a {
    font-size: 2.8rem;
    color: #888;
    margin: 10px;
}

.after-footer-content-text>p>a {
    margin: 1rem 0;
    color: #888;
    font-size: 1.6rem;
}

.after-footer {
    margin-top: 2.5rem;
}

.text-gradient {
    background: -webkit-linear-gradient(80deg, #eb2d4b, #141ed2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.shadow-card {
    box-shadow: 0 0 #0000, 0 0 #0000, 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.container {
    width: 100%;
}


.custom-checkbox .ant-checkbox-inner {
    width: 18px;
    height: 18px;
}

.custom-select .ant-select-selector {
    height: 4.7rem !important;
    align-items: center;
}

.custom-select .ant-select-selection-placeholder {
    line-height: 4.7rem !important;
    font-size: 1.6rem;
    text-align: left;
}

.custom-select input {
    height: 100% !important;
}

.ant-tooltip-inner {
    background-color: transparent !important;
    box-shadow: none !important;
}

.ant-tooltip-arrow {
    display: none !important;
}

/* .custom-slider .ant-slider-rail {
    height: 5px;
    border-radius: 5px;
} */
/* 
.custom-slider .ant-slider-track {
    background-color: #1fb14f;
} */

/* .custom-slider .ant-slider-handle {
    border: none;
    box-shadow: none;
}

.custom-slider .ant-slider-rail:hover +.ant-slider-track{
    background-color: #1fb14f;
}
.custom-slider .ant-slider:hover .ant-slider-track {
    background-color: #1fb14f;
} */

.custom-slider .ant-slider-handle.ant-tooltip-open::after {
    background-color: #1fb14f;
    box-shadow: 0 0 0 2px #1fb14f
}

.ant-input-affix-wrapper-disabled {
    background-color: white;
    color: #1fb14f;
    font-weight: 600;
}

input.ant-input-disabled {
    color: #1fb14f !important;
    font-weight: 600;
}

.nav-hover {
    color: inherit;
    position: relative;
}

.nav-hover::after {
    content: "";
    display: none;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    background-color: #141ed2;
    border-radius: 10px;
    width: 26px;
}

.nav-hover:hover::after {
    display: block;
}

.nav-hover:hover {
    color: #141ed2;
}

.active.nav-hover {
    color: #141ed2;
}

.active.nav-hover::after {
    display: block;
}


.menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
}

.line {
    width: 100%;
    height: 2px;
    background-color: #555;
    transition: all 0.3s ease;
}

.line1.change {
    transform: rotate(-45deg) translate(-5px, 8px);
}

.line2.change {
    opacity: 0;
}

.line3.change {
    transform: rotate(45deg) translate(-5px, -7px);
}

.custom-drawer .ant-drawer-body {
    padding: 0;
}

.card {
    transform-style: preserve-3d;
}

.back,
.front {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 0.5s ease;
}

.back {
    background-color: #ccc;
}

.front {
    transform: rotate3D(0, 1, 0, 180deg);
}

.card:hover .back {
    transform: rotate3D(0, 1, 0, 180deg);

}

.card:hover .front {
    transform: rotate3D(0, 1, 0, 0deg);

}

.backface .front,
.backface .back {
    backface-visibility: hidden;
}

.text-gradient-color-2 {
    line-height: 4rem;
    background: -webkit-linear-gradient(0deg, #233f82, #1fb14f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.background-theme {
    background-image: linear-gradient(80deg, #233f82, #1fb14f 80%);
}

.VPBank_prime {
    background-image: url(https://vaythechap.vpbank.com.vn/assets/imgs/bg_01.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

@media (min-width: 640px) {
    .container {
        max-width: 600px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 700px;
    }
}

@media (min-width: 960px) {
    .menu-icon {
        display: none;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 800px;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1000px;
    }
}

/* PC */
@media (min-width: 1024px) {}

/* Tablet */
@media (min-width:740px) and (max-width:1024px) {
    .slider-card-items {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .slider-card-item {
        width: calc(100%/2 - 4rem);
    }

    .slider-card-item-img {
        width: 100%;
    }

    .after-footer-content {
        display: block;
        text-align: center;
    }

    .after-footer-content-img {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .after-footer-content-contact {
        justify-content: center;
    }

    .relative>img {
        min-height: unset !important;
    }

    .combouudai {
        display: block;
    }

    .mobile-combo {
        /* display: block; */
        max-height: max-content;
        padding-left: 0;
        padding-right: 0;
        width: calc(100%);
        flex-wrap: wrap;
    }

    .cardProductItem {
        /* margin-bottom: 15px; */
        width: calc(100%/2 - 30px);
        max-width: calc(100%/2) !important;
        /* padding: 010px; */
        margin: 0 10px;
    }

    .after-footer {
        margin-top: 0;
    }

}




/* Mobile */

@media (max-width:739px) {
    .slider-card-items {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .slider-card-item {
        width: calc(100% - 4rem);
    }

    .slider-card-item-img {
        width: 100%;
    }

    .after-footer-content {
        display: block;
        text-align: center;
    }

    .after-footer-content-img {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .after-footer-content-contact {
        justify-content: center;
    }

    .relative>img {
        min-height: unset !important;
    }

    .combouudai {
        display: block;
    }

    .mobile-combo {
        display: block;
        max-height: max-content;
        padding-left: 0;
        padding-right: 0;
    }

    .cardProductItem {
        margin-bottom: 15px;
    }

    .after-footer {
        margin-top: 0;
    }
}